<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <section th:fragment="searchbar-basic" class="searchbar-box">
        <form method="get" th:action="@{/recipies/filtered}">
            <select name="mealType" id="mealInput">
                <option value="all">All</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="snack">Snack</option>
            </select>
            <input type="number" placeholder="max cooking time" name="cookTime">
            <input type="text" name="recipeName" id="recipeName" placeholder="Search by name">
            <button type="submit"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>

        </form>
    </section>

</body>
</html>