body{
    color: white;
}

.add-recipe-box{
    width: 60%;
    max-width: 40rem;
    border: solid lightblue 2px;
    margin-top: 5rem;
    margin: auto;
    padding: 2rem;
    border-radius: 15px;
}
.add-recipe-box form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* recipe name input */

.recipe-name-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipe-name-box label{
    font-size: larger;
}

.recipe-name-box input{
    height: 3rem;
    font-size: larger;
    background-color: rgba(101, 101, 144, 0.488);
    color: white;
}

/* specifikations inputs */

.recipe-specs-box{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 2rem 0;
    justify-content: space-around;
}

.specs-input{
    display: flex;
    flex-direction: column;
    min-width: none;
}

.specs-input label{
    font-size: larger;
}

.specs-input select{
    font-size: large;
    width: 8rem;
    height: 3rem;
    background-color: rgba(101, 101, 144, 0.488);
    color: white;
}

.specs-input input{
    width: 5rem;
    height: 3rem;
    font-size: larger;
    background-color: rgba(101, 101, 144, 0.488);
    color: white;
}

.specs-time-box input{
    align-self: center;
    text-align: center;
}

/* textarea and bellow */ 

.recipe-desc-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5rem;
}

.recipe-desc-box textarea{
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    font-size: large;
    font: 1.1em sans-serif;
    resize: vertical;
    background-color: rgba(101, 101, 144, 0.488);
    color: white;
    padding: .5rem;
}

.recipe-desc-box label{
    font-size: larger;
}

/* ingredients inputs */

.add-ingredient-btn-box button{
    background-color: green;
    color: white;
    padding: .5rem;
    margin: .5rem 0;
}

.add-ingredient-btn-box button:hover{
    cursor: pointer;
    background-color: rgb(23, 206, 23);
}

.ingredients-box{
    margin-top: 2rem;
    width: 100%;
    border-top: solid yellow 2px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.one-ingredient-box{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1rem;
    width: 100%;
    justify-content:left;
}

.one-ingredient-box input{
    height: 3rem;
    margin: 0 .5rem;
    font-size: larger;
    background: rgba(101, 101, 144, 0.488);
    color: white;
}

.ingr-name{
    width: 35%;
}
.ingr-amount{
    width: 17%;
}
.ingr-weight{
    width: 25%;
}

.removeBtn{
    display:inline-block;
    padding: .5rem;
    background-color: rgb(197, 35, 35);
}

.removeBtn:hover{
    background-color: rgb(240, 97, 97);
    cursor: pointer;
}

/* button to send recipe to DB */

#add-recipe-btn{
    padding: 1rem;
    border-radius: 15px;
    background-color: lightblue;
    border: solid blue 2px;
    font-size: larger;
    margin-top: 1rem;
}

#add-recipe-btn:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}


/* ---------- RESPONSIVE -----------  */

@media screen and (max-width: 750px) {

    label{
        color: beige;
    }

    .recipe-name-box, .recipe-specs-box, .specs-input, .recipe-desc-box{
        display: flex;
        flex-flow: column nowrap;
        width: 90%;
        margin: .3rem auto;
    }

    .one-ingredient-box{
        flex-flow: column;
        border: solid beige 2px;
        margin: .5vh 3vw;
    }

    .one-ingredient-box input{
        width: 80%;
    }

}




