
.add-recipe-box{
    width: 60%;
    max-width: 40rem;
    border: solid lightblue 2px;
    margin-top: 5rem;
    margin: auto;
    padding: 2rem;
    border-radius: 15px;
}
.add-recipe-box form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* recipe name input */

.recipe-name-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipe-name-box label{
    font-size: larger;
}

.recipe-name-box input{
    height: 3rem;
    font-size: larger;
}

/* specifikations inputs */

.recipe-specs-box{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 2rem 0;
    justify-content: space-around;
}

.specs-input{
    display: flex;
    flex-direction: column;
    min-width: none;
}

.specs-input label{
    font-size: larger;
}

.specs-input select{
    font-size: large;
    width: 8rem;
    height: 3rem;
}

.specs-input input{
    width: 5rem;
    height: 3rem;
    font-size: larger;
}

.specs-time-box input{
    align-self: center;
    text-align: center;
}

/* textarea and bellow */ 

.recipe-desc-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5rem;
}

.recipe-desc-box textarea{
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    font-size: large;
    font: 1.1em sans-serif;
    resize: vertical;
}

.recipe-desc-box label{
    font-size: larger;
}

button{
    padding: 1rem;
    border-radius: 15px;
    background-color: lightblue;
    border: solid blue 2px;
    font-size: larger;
    margin-top: 1rem;
}

button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}





