*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar styles */

nav a{
    text-decoration: none;
    color: beige;
    padding: 1rem 1.5rem;
    border: solid red 2px;
    border-radius: 20px;
    margin: 0 .5rem;
}

/* view-recipies styling */

nav{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    background-color: rgb(75, 74, 74);
    padding: 1rem 0;
}

nav a:hover{
    background-color: rgba(204, 60, 60, 0.601);
}

/* footer styles */

footer{
    background-color: rgb(70, 70, 70);
    color: wheat;
    width: 100%;
    margin-top: auto;
}

footer p{
    padding: 1rem 0;
}