*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-color: rgb(22, 18, 93);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar styles */

nav{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: rgb(29, 18, 123);
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}

nav a{
    text-decoration: none;
    color: white;
    font-size:x-large;
    padding: 1rem;
}

nav a:hover{
    background-color: rgba(25, 110, 213, 0.601);
    border-right: solid rgb(143, 240, 253) 2px;
    border-left: solid rgb(143, 240, 253) 2px;
}

#logoutBtn{
    background-color: transparent;
    border: none;
    color: white;
    font-size:x-large;
    height: 100%;
    /* padding: 1rem; */
    
}

#logoutBtn:hover{
    cursor: pointer;
    background-color: rgba(25, 110, 213, 0.601);
    border-right: solid rgb(143, 240, 253) 2px;
    border-left: solid rgb(143, 240, 253) 2px;
}

.options-box a{
    margin: 0;
}

/* footer styles */

footer{
    background-color: rgb(16, 74, 101);
    color: wheat;
    width: 100%;
    margin-top: auto;
}

footer p{
    padding: 1rem 0;
}