

/* generator bar */

.generator-box{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    border: solid red 2px;
}

.searchbar-box{
    margin: 2rem auto;
}

.searchbar-box select,input,button{
    font-size: 30px;
}

/* meal show box */

.show-recipe-box{
    margin: 3rem auto;
    color: beige
}

.recipe-title-box{
    font-size: 30px;
    padding: 1rem 1.5rem
}

.recipe-description-box{
    font-size: 20px;
    padding: 1rem;
    border: solid yellow 2px;
}

.recipe-details-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    border: solid green 2px;
}

.recipe-details-box p{
    padding: 1rem;
    border: solid red 2px;
}

