

/* generator bar */

.generator-box{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
}

.searchbar-box{
    margin: 2rem auto;
}

.searchbar-box select,input, button{
    background-color: black;
    color: beige;
}

.searchbar-box select,input,button{
    font-size: 30px;
}

/* error no recipe box */

.no-recipe-error-box{
    padding: 1rem 1.5rem;
    color: beige;
    text-align: center;
    width: 30%;
    margin: 3rem auto;
}

.no-recipe-error-box p{
    font-size: 25px;
}

/* meal show box */

.recipe-card{
    border: solid rgb(255, 246, 169) 4px;
    border-radius: 15px 15px 0 0;
}

.show-recipe-box{
    margin: 3rem auto;
    color: beige
}

.recipe-title-box{
    font-size: 30px;
    padding: 1rem 1.5rem;
    border-bottom: solid rgb(140, 145, 117) 3px;
}

.recipe-description-box{
    font-size: 20px;
    padding: 1rem;
    border-top: solid rgb(175, 179, 153) 3px;
}

.recipe-description-box h4{
    border-bottom: solid 2px rgb(71, 71, 71);
    padding-bottom: .3rem;
    margin-bottom: .3rem;
}

.recipe-details-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

.detail-box{
    padding: .5rem;
    border-top: solid rgb(136, 136, 136) 3px;
}

.recipe-details-box p{
    padding: .5rem;
    font-size: 30px;
}


@media screen and (max-width: 750px) {

    form{
        flex-flow: column wrap;
    }

    select,input, button{
        font-size: 20px;
    }

 }


