.homepage-logo-box{
    color: beige;
    background-color: black;
    text-align: center;
    font-size: xx-large;
    padding: 2rem 0;
}

/* main box */
.content-box{
    max-width: 100rem;
    color: wheat;
    margin: 3rem auto;
    border: solid yellow 2px;
    display: flex;
    flex-flow: row nowrap;
}



/* news box (left side) */
.dev-news-box{
    border: solid green 2px;
    margin: .5rem;
    flex: 2;
    height: 60vh;
    overflow: scroll;
}

.dev-news{
    margin: 1rem .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid black;
}

.dev-news h3{
    text-align: center;
    padding-bottom: .5rem;
    font-size:xx-large;
}

.dev-news p{
    padding: .5rem;
}

/* all features */
.features-box{
    border: solid red 2px;
    margin: .5rem;
    flex: 5;
    display: flex;
    flex-flow: column wrap;
}

.feature-box{
    display: flex;
    flex-flow: row nowrap;
}

.options-one-box{
    border: solid 2px purple;
    display: flex;
    flex-flow: row nowrap;
    flex:1;
    margin-bottom: 1rem;
}

.options-two-box{
    border: solid 2px hotpink;
    flex:1;
}

.feature{
    text-align: center;
    max-width: 20rem;
}