body{
    color:beige;
}

.important-box{
    border: solid red 2px;
    margin: 0 auto;
    font-size: x-large;
    width: 50vw;
    max-width: 50rem;
    padding: 1rem;
}

.already-exists{
    color: beige;
    font-size: xx-large;
    border-bottom: solid black 2px;
    padding: .5rem;
    margin: 3rem auto 1rem;
}

.wrong-regKey{
    margin: 1rem auto;
    padding: 1rem 2rem;
    border: solid yellow 2px;
}

.wrong-regKey p{
    font-size: 25px;
    padding-bottom: .1rem;
    border-bottom: solid yellow 2px;
}

section{
    margin: .5rem auto;
}

.input-box{
    display: flex;
    flex-flow: column nowrap;
    font-size:xx-large;
}

.input-box label{
    margin-bottom: .3rem;
}

.input-box input{
    font-size: x-large;
    border-radius: 10px;
    padding: 0 .8rem;
    border: none;
    margin: 0 0 1rem;
}

.submit-box{
    display: flex;
    justify-content: center;
}

.submit-box button{
    font-size: xx-large;
    background-color: rgb(88, 88, 99);
    border-radius: 10px;
    padding: .7rem 1.4rem;
    color: beige;
    border: none;
}

.submit-box button:hover{
    background-color: rgb(113, 117, 60);
    border: solid rgb(154, 154, 155) 3px;
    cursor: pointer;
}