

.success-reg{
    margin: 4rem auto 0 ;
    font-size: 25px;
    border-bottom: solid blue 2px;
    color: beige;
}

section{
    margin: 1rem auto;
}

.input-box{
    display: flex;
    flex-flow: column nowrap;
    font-size:xx-large;
}

.input-box label{
    margin-bottom: .3rem;
    color: beige;
}

.input-box input{
    font-size: x-large;
    border-radius: 10px;
    padding: 0 .8rem;
    border: none;
    margin: 0 0 1rem;
}

.submit-box{
    display: flex;
    justify-content: center;
}

.submit-box button{
    font-size: xx-large;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    padding: .7rem 1.4rem;
    color: beige;
    border: none;
}

.submit-box button:hover{
    background-color: rgb(113, 117, 60);
    border: solid rgb(83, 83, 83) 3px;
    cursor: pointer;
}

