
body{
    color:black;
}

.searchbar-box{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.searchbar-box input,select{
    /* height: 3vh; */
    /* padding-top: 1rem ; */
    font-size: 24px;
    min-width: 10vw;
    background-color: black;
    color: beige;
}



.all-recipies-box{
    display: flex;
    margin: 1rem auto;
    flex-flow: column wrap;
    /* max-width: 50vw; */
}

.over-details{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(66, 66, 66);
    width: 50vw;
    max-width: 1000px;
    border-bottom: solid black 1px;
    border-radius: 10px 10px 0 0;
    color: beige;
}

.recipe-box{
    margin: .3rem 0;
    font-size: larger;
}

.recipe-name{
    flex:3;
}

.recipe-type{
    flex: 2;
}

.recipe-diff{
    flex: 1;
}

.recipe-time{
    flex: 1;
}

.details-box{
    padding: .5rem;
}

/* button design */
i{
    background-color: rgb(66, 66, 66);
    border: none;
    padding: .2rem .5rem;
}

i:hover{
    cursor: pointer;
}

/* addiotional details */

.extra-details{
    background-color: rgb(97, 97, 97);
    width: 50vw;
    max-width: 1000px;
    display: none;
    flex-flow: column wrap;
    border-radius: 0 0 10px 10px;
    color: beige;
}

.all-extra-details-box{
    display: flex;
    flex-flow: row wrap;
}

.description-box{
    padding: .5rem;
    width: 70%;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

.ingredients-box{
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    text-align: center;
    padding-left: .3rem;
}

.ingredients{
    flex:1;
    display: flex;
    flex-flow: column wrap;
}

.amounts, .weights{
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

.amounts span, .ingredients span, .weights span{
    padding: .5rem 0;
    border-bottom: solid black 1px;
}

.maintain-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#updateBtn{
    background-color: rgb(204, 204, 204);
}

#updateBtn:hover{
    background-color: rgb(50, 144, 156);
}

#deleteBtn{
    background-color: rgb(109, 50, 50);
}

#deleteBtn:hover{
    background-color: red;
}

.recipeBtn{
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}


/* ---------- RESPONSIVE -----------  */

@media screen and (max-width: 750px) {

    .searchbar-box{
        display: flex;
        flex-flow: column wrap;
    }

    .searchbar-box input,select, button{
        margin: 0 auto;
    }


    .all-extra-details-box{
        flex-flow: column;
    }

    .extra-details, .over-details{
        margin: 0 auto;
        width: 90%;
    }

    .ingredients-box, .description-box{
        margin: 0 auto;
        width: 90%;
    }

    .ingredients-box span{
        margin: 0;
        padding: 0;
    }

}
