
/* overall layout */
body{
    align-items: center;
}

.view-box{
    margin-top: 5rem;
    width: 80%;
    max-width: 100rem;
    border: solid yellow 2px;
    display: flex;
    flex-flow: row wrap;
}

.recipe-box{
    border: solid 2px green;
    margin: 1rem;
    min-width: 15rem;
    max-width: 20rem;
}

.recipe-title{
    padding: .5rem;
    border-bottom: solid black 2px;
}

.recipe-title p{
    float: left;
}

.recipe-data{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.recipe-data p{
    margin: .5rem;
    border-bottom: solid black 2px;
    font-size:large;
}

/* buttons styling */ 

.recipe-options-box{
    margin: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}

.recipe-options-box a{
    padding: .7rem 1rem;
    text-decoration: none;
    color: black;
    border-radius: 15px;
}

#updateBtn{
    background-color: lightblue;
}

#deleteBtn{
    background-color: rgb(184, 33, 33);
}

.recipe-options-box i{
    background-color: gray;
    padding: .5rem;
}

.recipe-options-box button{
    border: none;
    cursor: pointer;
    border: solid red 2px;
}

/* description data */ 

.recipe-desc{
    border: solid blue 2px;
    border-radius: 15px;
    margin: 1rem;
    padding: .5rem;
    display:none;
}


