
body{
    color:black;
}

.all-recipies-box{
    display: flex;
    margin: 1rem auto;
    flex-flow: column nowrap;
    /* max-width: 50vw; */
}

.over-details{
    display: flex;
    flex-flow: row nowrap;
    background-color: lightgreen;
    width: 50vw;
    max-width: 1000px;
}

.recipe-name{
    flex:3;
}

.recipe-type{
    flex: 2;
}

.recipe-diff{
    flex: 1;
}

.recipe-time{
    flex: 1;
}

.details-box{
    padding: .5rem;
}

/* addiotional details */

.extra-details{
    background-color: lightgreen;
    width: 50vw;
    max-width: 1000px;
    display: none;
    flex-flow: row nowrap;
}

.description-box{
    padding: .5rem;
    width: 70%;
}

.ingredients-box{
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
    text-align: center;
}

.ingredients{
    flex:1;
    display: flex;
    flex-flow: column nowrap;
}

.amounts, .weights{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.amounts span, .ingredients span, .weights span{
    padding: .5rem 0;
}
