

/* search bar */

.input-box{
    margin: 0 auto;
}

.input-box select, input {
    background-color: black;
    color: beige;
    font-size: 20px;
}

.input-box button{
    font-size: 20px;
    padding: .3rem;
    margin: 1rem;
}

.input-box button:hover{
    cursor: pointer;
}

.optionBtn{
    background-color: red;
    font-size: 10px;
    margin: 0;
}

/* recipe view box */

.weekly-planner{
    display: flex;
    color: beige;
    flex-flow: column;
}

.each-recipe-box{
    margin: .5rem auto;
    border: solid rgb(194, 194, 194) 3px;
    width: 60%;
}

/* overall details box */

.overall-details{
    display: flex;
    flex-flow: column;
    border-bottom: solid rgb(194, 194, 194) 2px;
}

.recipe-name-box{
    justify-content: center;
    padding: 1rem 1.5rem;
    font-size: 20px;
    border-bottom: solid rgb(179, 179, 179) 3px;
}

.recipe-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    padding: .5rem .7rem;
}

.recipe-details p{
    margin: 1rem 0;
}

/* ingredients box */

.ingr-box{
    margin: 1rem 0;
    display: flex;
    flex-flow: row;
    font-size: 20px;
    justify-content: center;
}

.ingr-box p{
    padding: .3rem;
    border-bottom: solid rgb(214, 214, 214) 2px;
}

/* -------- RESPONSIVE ----------- */

@media screen and (max-width: 750px) {

    select, input, button{
        font-size: 20px;
    }

    .optionMeal{
        padding-top: .5rem;
        margin-bottom: .5rem;
        border-bottom: solid beige 2px;
    }


}

