

/* input box details */
.input-box{
    border: solid 2px red;
    padding: 1rem;
}

/* show weekly plan box details*/

.weekly-planner{
    border: solid violet 3px;
    display: flex;
    flex-flow: row wrap;
}

.show-plan-box{
    margin-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    border: solid yellow 3px;
    max-width: 50%;
}

.each-recipe-box{
    border: solid red 2px;
    display: flex;
    flex-flow: column wrap;
    margin: 1rem;
}

.name-box{
    padding: 2rem;
    color: beige;
}

.recipe-details-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.recipe-details-box p,span{
    padding: .3rem;
    color: beige;
}

/* show grocies box details*/

.show-grocies-box{
    border: solid green 2px;
    max-width: 50%;
}

.each-recipe-grocerie{
    display: flex;
    flex-flow: column nowrap;
}

.recipe-groceries-name h2{
    color: beige;
}

.groceries-box{
    display: flex;
    flex-flow: row wrap;
    border-bottom: solid white 1px;
}

.groceries-box p{
    padding: .5rem;
    color: beige;
}

.display-item{
    display: flex;
    flex-flow: column nowrap;
    
}