

<html xmlns="http://www.thymeleaf.org">

    <head>
        <title>all recipies</title>
        <link th:href="@{/css/add-recipe.css}" rel="stylesheet" />
    </head>
    <body>

        <nav>
            <a th:href="@{/addrecipepage}">Add new recipe</a>
            <a th:href="@{/recipies}">View cookbook</a>
            <a th:href="@{/generate-dish}">Generate a dish</a>
            <a href="#">create a mealplan</a>
        </nav>
        
        <div class="add-recipe-box">
            <form method="post" th:action="@{/saverecipedemo}">

                <input type="text" th:name="recipeName" placeholder="recipe name">
                <input type="text" th:name="recipeDescription" placeholder="enter description">
                <input type="text" th:name="recipeDiff" placeholder="difficulty">
                <input type="number" th:name="recipeTime" placeholder="cooking time (minutes)">

                <!-- recipe stuff below -->
                <!-- <input type="text" placeholder="ingredient name" th:name="ingrName">
                <input type="number" placeholder="enter amount" th:name="ingrAmount">
                <input type="text" placeholder="ingredient name" th:name="ingrName">
                <input type="number" placeholder="enter amount" th:name="ingrAmount">
                <input type="text" placeholder="ingredient name" th:name="ingrName">
                <input type="number" placeholder="enter amount" th:name="ingrAmount"> -->
                <button type="submit">add it!</button>
            </form>
        </div>

    </body>
</html>