

<html xmlns="http://www.thymeleaf.org">

    <head>
        <title>all recipies</title>
        <link th:href="@{/css/fragments.css}" rel="stylesheet" />
        <link th:href="@{/css/add-recipe.css}" rel="stylesheet" />
    </head>
    <body>

        <div th:replace="fragments/nav :: navbar"></div>
        
        <div class="add-recipe-box">
            <form method="post" th:action="@{/saverecipedemo}">
                <div class="recipe-name-box">
                    <label for="recipeName">Recipe name:</label>
                    <input type="text" th:name="recipeName" id="recipeName" th:attr= "value = ${recipe.recipeName}">
                </div>
                <div class="recipe-specs-box">
                    <div class="specs-input">
                        <label for="typeOfMeal">type of meal:</label>
                        <select th:name="recipeType" id="typeOfMeal">
                            <option value="breakfast">Breakfast</option>
                            <option value="lunch">Lunch</option>
                            <option value="dinner">Dinner</option>
                            <option value="snack">Snack</option>
                        </select>
                    </div>
                    <div class="specs-input">
                        <label for="recipeDiff">difficulty:</label>
                        <select th:name="recipeDiff" id="recipeDiff">
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                    <div class="specs-input specs-time-box">
                        <label for="cookTime">Cooking time (minutes):</label>
                        <input type="number" id="cookTime" th:name="recipeTime" min="0" max="1000" th:attr= "value = ${recipe.cookTime}">
                    </div>
                </div>
                <div class="recipe-desc-box">
                    <label for="recipeDescription">Description:</label>
                    <textarea type="text" id="recipeDescription" th:name="recipeDescription" th:text="${recipe.description}"></textarea>
                </div>
                <input type="number" style="display: none;" th:field="${recipe.id}" th:name="id">

                <!-- th:field="${recipe.description}" -->

                <!-- recipe stuff below -->
                <!-- <input type="text" placeholder="ingredient name" th:name="ingrName">
                <input type="text" placeholder="ingredient name" th:name="ingrName">
                <input type="text" placeholder="ingredient name" th:name="ingrName"> -->

                <!-- <input type="number" placeholder="enter amount" th:name="ingrAmount">
                <input type="text" placeholder="ingredient name" th:name="ingrName">
                <input type="number" placeholder="enter amount" th:name="ingrAmount">
                <input type="text" placeholder="ingredient name" th:name="ingrName">
                <input type="number" placeholder="enter amount" th:name="ingrAmount"> -->
                <button type="submit">add it!</button>
            </form>
        </div>

        <div th:replace="fragments/footer :: footer-basic"></div>

    </body>
</html>