<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Generator</title>
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/generate-dish.css}" rel="stylesheet" />
</head>
<body>

    <div th:replace="fragments/nav :: navbar"></div>

    <div th:if="${noRecipies != null}">
        <p th:text="${noRecipies}"></p>
    </div>
    <div class="generator-box">


        <!-- <div class="selections-box">
            <form th:action="@{/getrandomdish}" method="get">
                <button type="submit">Generate</button>
            </form>
        </div> -->

        <section th:fragment="searchbar-basic" class="searchbar-box">
            <form method="get" th:action="@{/generator/filtered}">
                <select name="mealType" id="mealInput">
                    <option value="all">All</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                </select>
                <input type="number" placeholder="max cooking time" name="cookTime">
                <button type="submit">search</button>
            </form>
        </section>
    
        <div th:each="recipe: ${recipe}" class="show-recipe-box">

            <div class="recipe-card">
                <div class="recipe-title-box">
                    <h3 th:text="${recipe.recipeName}"></h3>
                </div>
                <div class="recipe-description-box">
                    <p th:text="${recipe.description}"></p>
                </div>
                <div class="recipe-details-box">
                    <p th:text="${recipe.difficulty}"></p>
                    <p th:text="${recipe.cookTime}"></p>
                    <p th:text="${recipe.mealType}"></p>
                </div>
            </div>
            
        </div>
    </div>
    
    <div th:replace="fragments/footer :: footer-basic"></div>

</body>