<html xmlns="http://www.thymeleaf.org">
<head>
    <title>all recipies</title>
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/view-recipies.css}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div th:replace="fragments/nav :: navbar"></div>

    <section th:replace="fragments/search-bar :: searchbar-basic"></section>

    <div class="demo">
        <h1>hello there</h1>
    </div>
    <div class="view-box">
        <div th:each="recipes: ${userDTO.recipies}" class="recipe-box">
            <div class="recipe-title">
                <h2 th:text="${recipes.recipeName}" th:id="${#ids.seq('recipeNameID')}"></h2>
            </div>
            <div class="recipe-data">
                <p>difficulty: <span th:text="${recipes.difficulty}" th:id="${#ids.seq('difficultyID')}"></span></p>
                <p>Cooking time: <span th:text="${recipes.cookTime}" th:id="${#ids.seq('cookTimeID')}"></span> minutes</p>
                <p>Type: <span th:text="${recipes.mealType}" th:id="${#ids.seq('mealTypeID')}"></span></p>
            </div>
            <div class="recipe-options-box">
                <a th:href="@{/updaterecipe(id=${recipes.id})}" id="updateBtn">update recipe</a>
                <a th:href="@{/deleterecipe(id=${recipes.id})}" id="deleteBtn">Delete recipe</a>
                <button type="button" onclick="showData(this.id)" th:id="${#ids.seq('showBtn')}">Details</button>
            </div>
            <div class="recipe-desc" th:id="${#ids.seq('descBox')}">
                <p th:text="${recipes.description}" th:id="${#ids.seq('descriptionID')}"></p>
            </div>

            <div th:id="${#ids.seq('ingredientNameID')}" style="display: none;">
                <span th:each="ingredient :${recipes.ingredients}" th:text="${ingredient.ingredientName}"></span>
            </div>
            <div th:id="${#ids.seq('ingredientAmountID')}" style="display: none;">
                <span th:each="amount :${recipes.amount}" th:text="${amount.amount}"></span>
            </div>
            <div th:id="${#ids.seq('ingredientWeightID')}" style="display: none;">
                <span th:each="weightType :${recipes.weight}" th:text="${weightType.weightType}"></span>
            </div>
             <button type="button" onclick="turnIngredientsToLists('ingredient-names')">demo click</button> 
        </div>
    </div>

    <div class="big-screen" id="bigScreenID">
        <div class="exit-btn-box">
            <button type="button" onclick="closeBigBox()">Exit box</button>
        </div>
        <div class="overview-details-box">
            <div class="img-view-box">
                <p>COMING SOON</p>
            </div>
            <div class="details-box">
                <h2 id="putTitleRecipe"></h2>
                <p>Difficulty: <span id="putDifficulty"></span></p>
                <p>Time: <span id="putCookTime"></span> minutes</p>
                <p>Type: <span id="putMealType"></span></p>
            </div>
        </div>
        <div class="specifics-details-box">
            <div class="description-box-big">
                <p id="putDescription"></p>
            </div>
            <div class="ingredients-box-big" id="ingredientsBigBox">
            </div> 
        </div>
    </div>

    <div th:replace="fragments/footer :: footer-basic"></div>
    
    <script type="text/javascript" th:src="@{/scripts/viewRecipe.js}"></script>
    <script src="https://kit.fontawesome.com/1ebb5ff465.js" crossorigin="anonymous"></script>
</body>


</html>