

<html xmlns="http://www.thymeleaf.org">

    <head>
        <title>register</title>
        <link th:href="@{/css/fragments.css}" rel="stylesheet" />
        <link th:href="@{/css/sign-up.css}" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/1ebb5ff465.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <div th:replace="fragments/nav :: navbar"></div>

        <div th:replace="fragments/nav :: mobile-navbar" id="mobile-nav"></div>

        
        <div class="important-box">
            <p>This site is under development! Therefore, do not use any of your regular passwords nor your real name in case of security breach</p>
        </div>
        
        <div th:if="${alreadyExists != null}" class="already-exists">
            <p th:text="${alreadyExists}"></p>
        </div>

        <div  th:if="${regKeyError != null}" class="wrong-regKey">
            <p th:text="${regKeyError}"></p>
        </div>

        <section class="form-register-box">
            <form th:action="@{/save-new-user}" method="post" th:object="${user}">
                <div class="input-box">
                    <label for="username">Username:</label>
                    <input type="text" th:field="*{username}" id="username" placeholder="username" name="username">
                </div>
                <div class="input-box">
                    <label for="password">password:</label>
                    <input type="password" th:field="*{password}" placeholder="password" name="password">
                </div>
                <div class="input-box">
                    <label for="regKey">Registration Key:</label>
                    <input type="text" name="regKey" th:name="registrationKey">
                </div>
                <div class="submit-box">
                    <button type="submit">register!</button>
                </div>

            </form>
        </section>

        <div th:replace="fragments/footer :: footer-basic"></div>

        <script type="text/javascript" th:src="@{/scripts/mobileNav.js}"></script>
        
    </body>
</html>