<html xmlns="http://www.thymeleaf.org">
<head>
        <title>Sign up</title>
        <link th:href="@{/css/fragments.css}" rel="stylesheet" />
        <link th:href="@{/css/sign-up.css}" rel="stylesheet" />
</head>
<body>

    <div th:replace="fragments/nav :: navbar"></div>

    <section class="create-acc-box">
        <form action="#" th:action="@{/new-account}" th:object="${user}" method="post">
            <div class="name-box">
                <label for="real-name">Name</label>
                <input type="text" th:field="*{name}">
                <label for="nick-name">Nickname:*</label>
                <input type="text" th:field="*{nickName}">
            </div>
            <div class="password-box">
                <label for="user-password">Password:</label>
                <input type="password" th:field="*{password}">
            </div>
            <div class="email-box">
                <label for="input-email">Email:</label>
                <input type="email" th:field="*{email}">
            </div>
            <div class="submit-btn-box">
                <button type="submit">sign up!</button>
            </div>
        </form>
        <div class="message-box">
            <p th:if="${signUpError}" class="signup-error">Email already exists!</p>
            <p th:if="${signUpSuccess}" class="signup-success">Account has been created!</p>
        </div>
    </section>


    <div th:replace="fragments/footer :: footer-basic"></div>
    
    <!-- <script type="text/javascript" th:src="@{/js/weeklyPlanner.js}"></script> -->
</body>