<html xmlns="http://www.thymeleaf.org">
<head>
        <title>Weekly planner</title>
        <link th:href="@{/css/fragments.css}" rel="stylesheet" />
        <link th:href="@{/css/weekly-planner.css}" rel="stylesheet" />
</head>
<body>
    
    <div th:replace="fragments/nav :: navbar"></div>

    
    <section class="input-box">
        <form th:action="@{/generated-planner}" method="get" id="plannerForm">
            
            <section id="options-box"> 
                <section id="optionNum">
                    
                    <select th:name="mealType" id="meal">
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                        <option value="snack">Snack</option>
                    </select>
                    
                    <input type="number" th:name="portions" id="mealPortions" placeholder="portions">
                    
                    <input type="number" th:name="maxTime" id="maxTimeMeal" placeholder="max cook time">
                </section>
            </section>
            <div class="add-meals-box">
                <button type="button" onclick="addMealOption()">Add more meals</button>
                <button type="submit">Create Plan</button>
            </div>
        </form>
    </section> 

    
    <section class="show-plan-box">
        
    </section>
    
    <section class="show-grocies-box">

    </section>

    <div th:replace="fragments/footer :: footer-basic"></div>
    
    <script type="text/javascript" th:src="@{/js/weeklyPlanner.js}"></script>
</body>


