<html xmlns="http://www.thymeleaf.org">
<head>
        <title>Weekly planner</title>
        <link th:href="@{/css/fragments.css}" rel="stylesheet" />
        <link th:href="@{/css/weekly-planner.css}" rel="stylesheet" />
</head>
<body>
    
    <div th:replace="fragments/nav :: navbar"></div>

    
    <section class="input-box">
        <form th:action="@{/generated-planner}" method="get" id="plannerForm">
            
            <section id="options-box"> 
                <section id="optionNum">
                    
                    <select th:name="mealType" id="meal">
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                        <option value="snack">Snack</option>
                    </select>
                    
                    <input type="number" th:name="portions" id="mealPortions" placeholder="portions">
                    
                    <input type="number" th:name="maxTime" id="maxTimeMeal" placeholder="max cook time">
                </section>
            </section>
            <div class="add-meals-box">
                <button type="button" onclick="addMealOption()">Add more meals</button>
                <button type="submit">Create Plan</button>
            </div>
        </form>
    </section> 

    <section class="weekly-planner">

        <section class="show-plan-box">
            <div th:each="recipe: ${recipes}" class="each-recipe-box">
                <div class="name-box">
                    <h2 th:text="${recipe.recipeName}" class="recipe-name"></h2>
                </div>
                <div class="recipe-details-box">
                    <p>Cooking time:<span th:text="${recipe.cookTime}"></span> minutes</p>
                    <p>Difficulty level:<span th:text="${recipe.difficulty}"></span></p>
                    <p>Portions:<span th:text="${recipe.portions}"></span></p>
                </div>
            </div>
        </section>
        
        <!-- WORKING -->
        <section class="show-grocies-box">
            <div th:each="recipe: ${recipes}" class="each-recipe-grocerie">
                <div class="recipe-groceries-name">
                    <h2 th:text="${recipe.recipeName}"></h2>
                </div>
                <div class="groceries-box">
                    <div class="recipe-groceries-names display-item">
                        <p th:each="ingredient: ${recipe.ingredients}" th:text="${ingredient.ingredientName}"></p>
                    </div>
                    <div class="recipe-groceries-amounts display-item">
                        <p th:each="amount: ${recipe.amount}" th:text="${amount.amount}"></p>
                    </div>
                    <div class="recipe-grocerie-weights display-item">
                        <p th:each="weight: ${recipe.weight}" th:text="${weight.weightType}"></p>
                    </div>
                </div>
            </div>
        </section>

    </section>

    <div th:replace="fragments/footer :: footer-basic"></div>
    
    <script type="text/javascript" th:src="@{/js/weeklyPlanner.js}"></script>
</body>


